.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.body__container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.head__top {
  position: relative;
}

.head {
  overflow: hidden;
}

.head__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.head__bottom {
  position: relative;
  z-index: -1;

  height: 509px;
}

.head__bottom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image:
    url("../img/welcome-logo.svg"),
    url("../img/sedona-intro.svg"),
    url("../img/shape.svg");
  background-repeat: no-repeat;
  background-position: top 76px center, top 214px center, bottom;
}

.head__img {
  position: absolute;
  top: -83px;
}

.nav {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #fff;
}

.nav__list {
  position: relative;

  display: flex;
}

.nav__item {
  width: 239px;
  padding-top: 14px;
  padding-bottom: 16px;

  text-align: center;
}

.nav__item:nth-child(2) {
  margin-right: 244px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #81b3d2;
}

.link:active {
  color: #000000;
  opacity: 0.3;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.intro {
  background-color: #fff;
}

.title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;

  text-align: center;
}

.title_size_l {
  font-size: 30px;
}

.title_line-height_m {
  line-height: 26px;
}

.title_color_white {
  color: #fff;
}

.title_narrow {
  letter-spacing: -0.5px;
}

.intro__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 58px;
}

.text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.text_line-height_s {
  line-height: 24px;
}

.text_line-height_m {
  line-height: 26px;
}


.text_color_white {
  color: white;
}

.intro__text {
  margin: 0;
  padding-bottom: 50px;
}

.reason-box {
  display: flex;
}

.reason-box_reversed {
  flex-direction: row-reverse;
}

.reason {
  width: 400px;

  background-color: #eeeeee;
}

.reason_special {
  background-color: #81b3d2;
}

.reason__wrapper {
  padding-top: 45px;
  padding-bottom: 60px;
  padding-left: 45px;
  padding-right: 45px;

  line-height: 21px;
}

.reason__title {
  margin: 0;

  line-height: 21px;
}

.reason__text {
  margin-top: 25px;
  margin-bottom: 21px;
}

.benefits__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefits__item {
  position: relative;

  width: 300px;
  margin-top: 55px;
  padding-top: 100px;

  background-repeat: no-repeat;
  background-position: top 5px center;
}

.benefits__item_pic_house {
  background-image: url("../img/house-icon.svg");
}

.benefits__item_pic_burger {
  background-image: url("../img/burger-icon.svg");
}

.benefits__item_pic_gift {
  background-image: url("../img/gift-icon.svg");
  background-position: top 0 center;
}

.benefits__text {
  margin-top: 22px;
  margin-bottom: 82px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  border: none;
  border-radius: 0;
}

.button_size_m {
  font-size: 21px;
  line-height: 26px;
}

.search {
  text-align: center;
}

.search__title {
  padding-top: 50px;
}

.search__text {
  margin-top: 22px;
  margin-bottom: 47px;
}

.sedona-button {
  width: 568px;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 32px;

  background-color: #766357;
}
