body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 0;

  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header img {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-nav {
  font-weight: 700;
}

.main-nav-list {
  display: flex;
  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;
}

.main-nav-list .item {
  width: 239px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.main-nav-list .item:hover {
  color: #81b3d2;
}

.main-nav-list .item:active {
  color: #b3b3b3;
}

.main-nav-list .item:nth-child(2) {
  margin-right: 244px;
}

main h1 {
  font-size: 21px;
  font-weight: 700;
}

h1 + p {
  color: #333333;
}

.real-town,
.devil-bridge {
  display: flex;
}

.reason-wrap {
  width: 400px;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-wrap h2 {
  margin-top: 42px;

  font-size: 21px;
  font-weight: 700;
}

.benefits-list,
.other-reasons-list {
  display: flex;
  justify-content: space-around;

  text-align: center;
  line-height: 21px;
  color: #333333;

  list-style: none;
}

.benefits-item h3,
.other-reasons-item h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.devil-bridge .reason-wrap {
  order: 1;
}

.other-reasons {
  background-color: #eeeeee;
}

.hotel-search {
  position: relative;

  text-align: center;
}

.hotel-search p:first-child {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.sedona-button {
  width: 568px;
  min-height: 86px;

  background-color: #766357;
}

.sedona-button:hover {
  background-color: #604e43;
}

.sedona-button:active {
  color: #847870;

  background-color: #503e33;
}

.search-modal {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  z-index: 10;

  width: 568px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: -284px;

  color: #000000;
  font-weight: 700;
  line-height: 26px;

  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
}

.hotel-search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 55px;
}

.calendar-icon-wrap {
  position: relative;
}

.hotel-search-form label {
  margin-bottom: 30px;
}

.hotel-search-form input[type="text"] {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;

  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 9px;
}

.hotel-search-form input[type="text"]:hover {
  background-color: #ebebeb;
  background-image: url("../img/calendar-icon-hover.svg");
}

.hotel-search-form input[type="text"]:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-image: url("../img/calendar-icon-active.svg");
}

.sign-btn {
  width: 38px;
  height: 38px;

  font-weight: 700;
  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;
}

.adults,
.children {
  width: 114px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  border: none;
  background-color: #f2f2f2;
}

.adults-wrap,
.children-wrap {
  position: relative;
}

.adults::-webkit-inner-spin-button,
.children::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adults,
.children {
  -moz-appearance: textfield;
}

.min-btn {
  position: absolute;

  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/min-btn.png");
  background-repeat: no-repeat;
  background-position: center;
}

.min-btn:hover {
  background-image: url("../img/min-btn-hover.png");
}

.min-btn:active {
  background-image: url("../img/min-btn-active.png");
}

.plus-btn {
  position: absolute;

  margin-left: -38px;

  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/plus-btn.png");
  background-repeat: no-repeat;
  background-position: center;
}

.plus-btn:hover {
  background-image: url("../img/plus-btn-hover.png");
}

.plus-btn:active {
  background-image: url("../img/plus-btn-active.png");
}

.search-button {
  display: block;
  width: 458px;
  height: 58px;
  margin-top: 55px;
  margin-bottom: 55px;

  line-height: 42px;
  vertical-align: middle;

  background-color: #81b3d2;
}

.search-button:hover,
 .search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #87b5d1;

  background-color: #5496bd;
}

footer .container {
  display: flex;
  justify-content: space-around;
}

.contacts {
  font-size: 21px;
  font-weight: 700;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 150px;

  list-style: none;
}

.social-list .item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-list .item:hover {
  background-color: #669ec0;
}

.social-list .item:active {
  background-color: #5496bd;
}

.social-list .item:active path {
  fill: #87b5d1;
}

.html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 200px;
}

.html-academy a:hover path {
  fill: #81b3d2;
}

.html-academy a:active path {
  fill: #bdbbbc;
}
