.hotel-filter__checkbox-fieldset {
  margin: 0;
  padding: 0;
}

.hotel-filter__checkbox-fieldset:nth-child(2) {
  margin-left: 116px;
}

.hotel-filter__temp-wrap {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}