mixin search-form
    form(class="search-form search__search-form visually-hidden" action="https://echo.htmlacademy.ru" method="post")
        .search-form__row
            label(class="search-form__label-arrival-date" for="arrival-date") Дата заезда:
            .date-field
                input.date-field__input(id="arrival-date" type="text" name="arrival-date" value="24 апреля 2017")
                span.date-field__cal-icon

        .search-form__row
            label(class="search-form__label-departure-date" for="departure-date") Дата выезда:
            .date-field
                input.date-field__input(id="departure-date" type="text" name="departure-date" value="4 июля 2017")
                span.date-field__cal-icon

        .search-form__row
            label(class="search-form__label-adults" for="adults") Взрослые:
            .search-form__input-num-wrapper
                .input-num
                    button.button.btn-minus(type="button" name="button")
                    input.input-num__display(id="adults" type="number" name="adults" value="2")
                    button.button.btn-plus(type="button" name="button")
                label(class="search-form__label-children" for="children") Дети:
                .input-num
                    button.button.btn-minus(type="button" name="button")
                    input.input-num__display(id="children" type="number" name="children" value="0")
                    button.button.btn-plus(type="button" name="button")

        button(class="button button_size_m find-button search-form__find-button" type="submit" name="button") Найти