.search-form {
  box-sizing: border-box;

  width: 568px;
  padding: 55px;

  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form__find-button {
  margin-top: 26px;
}

.search-form__row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.search-form__input-num-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 346px;
}

.search-form__label-children {
  position: absolute;
  right: 141px;
}
