mixin benefits
    section.benefits
          h2.visually-hidden Преимущества
          ul.benefits__list.list
            li.benefits__item.benefits__item_pic_house
              h3.title.benefits__title Жильё
              p.text.benefits__text Рекомендуем пожить в настоящем мотеле, всё как в кино!
            li.benefits__item.benefits__item_pic_burger
              h3.title.benefits__title Еда
              p.text.benefits__text Всегда заказывайте фирменный бургер, вы не разочаруетесь!
            li.benefits__item.benefits__item_pic_gift
              h3.title.benefits__title Сувениры
              p.text.benefits__text Не только китайского, но и местного производства!