.sedona-button {
  width: 568px;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 32px;

  background-color: #766357;
}

.sedona-button:hover {
  background-color: #604e43;
}

.sedona-button:active {
  color: #847870;

  background-color: #503e33;
}
