.checkbox-icon {
  display: block;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.checkbox-icon:hover {
  cursor: pointer;
}
