.checkbox-fieldset {
  display: flex;
  flex-direction: column;

  border: none;
}

.checkbox-fieldset__legend {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.checkbox-fieldset__label {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.checkbox-fieldset__label-text {
  margin-left: 12px;
}

.checkbox-fieldset__submit-btn {
  box-sizing: border-box;
  width: 137px;
  height: 36px;
}

.checkbox-fieldset__submit-btn:hover {
  color: #000;

  background-color: #fff;
  border-radius: 2px;
}

.checkbox-fieldset__checkbox {
  display: none;
}

.checkbox-fieldset__checkbox:checked + .checkbox-icon {
  background-image: url("../img/checkbox-checked.svg");
}
