.btn-minus {
  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  background-image: url("min-btn.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btn-minus:hover {
  background-image: url("min-btn-hover.png");
}

.btn-minus:active {
  background-image: url("min-btn-active.png");
}
