include ./common.blocks/head/head
include ./common.blocks/footer/footer
include ./common.blocks/sort-menu/sort-menu
include ./common.blocks/hotel/hotel

doctype html
html
    head
        title Отели
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
    body.body
      .body-wrapper
        +head({isNarrow: true})
        main.main-content
          +sort-menu
          
          ul.list.hotel-list
            li.hotel-item
              +hotel({hotelTitle: 'Amara Resort & Spa', hotelType: 'Гостиница', priceVal: 4000, img: 'amara', starNumber: 4, rateValue: '8,5'})
              +hotel({hotelTitle: 'Desert Quail Inn', hotelType: 'Мотель', priceVal: 3000, img: 'desert', starNumber: 3, rateValue: '8,9'})
              +hotel({hotelTitle: 'Villas at Poco Diablo', hotelType: 'Апартаменты', priceVal: 2000, img: 'villas', starNumber: 2, rateValue: '9,2'})
            li
            li
        +footer