doctype html
html
    head
        title Отели
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
    body.body
        ul.nav__list.list
            li.nav__item
                a.link(href="#") Информация
            li.nav__item
                a.link(href="#") Фото и видео
            li.nav__item
                a.link(href="#") Карта штата
            li.nav__item
                a.link(href="#") Гостиницы