include ./common.blocks/head/head
include ./common.blocks/footer/footer
include ./common.blocks/intro/intro

doctype html
html
    head
        title Отели
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
    body.body
      .body-wrapper
        +head
        main.main-content
            +intro
        +footer