// - All includes will be here
include ./common.blocks/head/head
include ./common.blocks/intro/intro
//- include ./common.blocks/reason-box/reason-box
include ./common.blocks/reason/reason
include ./common.blocks/benefits/benefits
include ./common.blocks/search-form/search-form
include ./common.blocks/footer/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Седона — небольшой городок в Аризоне, заслуживающий большего!
    link(href='https://fonts.googleapis.com/css2?family=PT+Sans&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/main.css')
  body.body
    .body-wrapper
      +head
      main.main-content
        +intro
        section.reason-box
          +reason({title: 'Настоящий<br>городок', num: '— №1 —', desc: 'Седона — не аттракцион для туристов, там течёт своя жизнь', isSpecial: true})
          img.reason-box__photo(src=require('./common.blocks/reason-box/house-and-flag.png') alt="Дом и флаг" width="800" height="256")
        +benefits
        section.reason-box.reason-box_reversed
          +reason({title: 'Там есть<br>Мост дьявола', num: '— №2 —', desc: 'Да, по нему можно пройти! Если конечно вы осмелитесь', isSpecial: true})
          img.reason-box__photo(src=require('./common.blocks/reason-box/devil-bridge.png') alt="Дом и флаг" width="800" height="256")
        section.reason-box
          +reason({title: 'Небольшая<br>площадь', num: '— №3 —', desc: 'Все достопримечательности<br>находятся очень близко'})
          +reason({title: 'Красивая<br>дорога', num: '— №4 —', desc: 'Ехать в Седону из Лас-Вегаса совсем<br>не скучно!'})
          +reason({title: 'Мало<br>туристов', num: '— №5 —', desc: 'Большинство едет в гранд каньон и толпится там'})
        section.search
          h2(class="title title_narrow title_size_l search__title") Заинтересовались?
          p(class="text text_line-height_s search__text") Укажите предполагаемые даты поездки,<br>и мы покажем вам лучшие предложения гостиниц в седоне
          .search__wrapper
            button(class="button sedona-button button_size_m" type="button" name="button") Поиск гостиницы в седоне
            +search-form
        iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d703513.9687091527!2d-111.86672330116178!3d35.005158442008735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCA4NjMzNiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1594126300954!5m2!1sru!2sru" width="1200" height="473" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
      +footer
          