mixin intro
    section.intro
        h1.title.title_narrow.title_line-height_m.intro__title
            | Седона — небольшой городок в Аризоне,<br> заслуживающий большего!
        p.text.text_line-height_m.intro__text
            | Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
